<div class="flex justify-between my-7">
  {% block title %}
    <div class="block">
      <h1 class="dark:text-white inline-block">
        {% if view is defined %}
          {{ view.title }}
        {% elseif theme_hook_original is same as 'node' %}
          {{ node.label }}
        {% elseif theme_hook_original is same as 'user' %}
          {{ content.field_name }}
        {% elseif theme_hook_original is same as 'node_edit_form' %}
          {{ form['#title'] }}
        {% endif %}
      </h1>
    </div>
  {% endblock %}

  {% block controls %}
    <div class="inline-flex items-center">
      {{ drupal_block('system_breadcrumb_block') }}
    </div>
  {% endblock %}

</div>
{% block content %}
  <div{{ attributes }}>
    {{ content }}
  </div>
{% endblock %}
{{ dump() }}