{#
/**
 * @file
 * Default implementation of reports project page
 */
#}
{% extends '@itkdev_project_theme/content-wrapper.html.twig' %}

{% block title %}
  {% set pageTitle = 'Report: @label'|t({'@label': data.node.label}) %}
  {{ parent() }}
{% endblock %}

{% block content %}
  {% set project_status = project_track_evaluation(data.node.id) %}

  <div class="p-5 rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-slate-600 drop-shadow-md">
    <div class="flex justify-between px-4 py-4">
      <h2>{{ 'Project tracks'|t }}</h2>
      <div class="my-5">{{ include('@itkdev_project_theme/components/project-status.html.twig') }}</div>
    </div>
    {% for key, projectTrack in data.projectHelper.getProjectTracks(data.node) %}
      <div class="mb-8">
        <header class="flex justify-between px-4 py-4 border-b">
          <h3 class="m-0 text-lg dark:text-white">{{ projectTrack.label }}</h3>
        </header>
        <div class="my-5 flex flex-wrap px-4">
          <div class="basis-full mb-5">
            {{ projectTrack.getDescription }}
          </div>
          <div class="basis-full flex justify-end">
            <a href="{{ path('ai_screening_reports.project_track', {project_track_id: [projectTrack.id.value]}) }}" class="font-thin bg-green-700 hover:bg-green-600 text-white py-2 px-4 rounded inline-flex items-center">
              <i class="fa-solid fa-circle-plus mr-3"></i>
              <span>{{ 'Create report for "@trackLabel" track'|t({'@trackLabel': projectTrack.label}) }}</span>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
