{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}

{% for type, messages in message_list %}
  {%
  set classes = [
    'status-messages',
    type == 'error' ? 'alert-danger',
    type == 'warning' ? 'alert-warning',
    type == 'status' ? 'alert-success',
    'alert',
    'alert-dismissable',
    'fade',
    'show',
    'max-w-full',
    'border-0',
    'border-l-4',
    'py-5',
  ]
  %}
  <div class="alert-wrapper max-w-screen-2xl px-4 md:px-6 2xl:px-10">
    <div role="alert" aria-label="{{ status_headings[type] }}"{{ attributes|without('role', 'aria-label').addClass(classes) }}>
      <div class="container flex flex-column flex-md-row">
        <div class="order-1 order-md-0 w-full text-zinc-600">
          <div class="flex flex-nowrap justify-between">
            {% if status_headings[type] %}
              <h4 class="m-0 mb-3">{{ status_headings[type] }}</h4>
            {% endif %}
          </div>
          {% if messages|length > 1 %}
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% else %}
            {{ messages|first }}
          {% endif %}
        </div>
        {% if type != 'warning' %}
          <div class="flex justify-content-end">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
      </div>
      <div class="inline-block h-6 text-xl leading-6 align-top cursor-pointer text-zinc-600" onclick="this.parentNode.parentNode.remove()"><i class="fa-solid fa-xmark"></i></div>
    </div>
  </div>
{% endfor %}
