{#
/**
 * @file
 * Default theme implementation for a node edit form.
 *
 * The template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @ingroup themeable
 */
#}
{% extends '@itkdev_project_theme/content-wrapper.html.twig' %}

{% block title %}
  {% set pageTitle = form['#title'] %}
  {{ parent() }}
{% endblock %}

{% block content %}
  <div class="content pb-5 rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-slate-600 drop-shadow-md">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
      <div class="p-3">
        {{ form|without('advanced', 'group_fieldset', 'actions', 'group_state') }}
      </div>
      {% if form['#form_id'] is same as 'node_project_edit_form' %}
        <div class="p-3">
          {{ form.group_fieldset }}
          {{ form.group_state }}
        </div>
      {% endif %}
    </div>
    <div>
      {{ form.confirmation_dialog }}
      {{ form.actions }}
    </div>
  </div>

{% endblock %}
