{#
/**
 * @file
 * Default theme implementation for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @ingroup themeable
 */
#}
{% extends '@itkdev_project_theme/content-wrapper.html.twig' %}

{% block title %}
  {% set pageTitle = form['#title'] %}
  {{ parent() }}
{% endblock %}

{% block content %}
  {%
    set evaluationClasses = {
    none: 'bg-slate-300',
    approved: 'bg-green-600',
    undecided: 'bg-yellow-700',
    refused: 'bg-red-700',
  }
  %}
  {% set evaluation = form['#project_track'].getProjectTrackEvaluation(TRUE) %}
  {% set classNames = evaluationClasses[evaluation] ?? 'bg-slate-300' %}
  {% set message = form.project_track_evaluation['#markup'][evaluation] ?? 'Not started'|t %}
  {% set projectTrackReportTypes = form['#project_track'].getType.field_report_type.getValue() %}
  {% set hasSubmissionReportType = FALSE %}
  {% for type in projectTrackReportTypes %}
    {% if type['value'] is same as('webform_submission') %}
      {% set hasSubmissionReportType = TRUE %}
    {% endif %}
  {% endfor %}
  <div class="container my-8 px-5">
    {{ form['#project_track'].getDescription|raw }}
  </div>
  <div class="container bg-white dark:bg-secondary my-4 drop-shadow-md">
    <header class="flex justify-between px-4 py-4 border-b">
      <h2 class="m-0 text-lg dark:text-white">{{ 'Status'|t }}</h2>
    </header>
    <div class="grid md:grid-cols-2 grid-cols-1 gap-16 px-4 py-4">
      <div class="full-width">
        <div class="form-item mb-3 md:mb-5">
          <label class="font-semibold block">{{ 'Evaluation: @trackName'|t({'@trackName': form['#title']}) }}</label>
          <div class="description">{{ 'System evaluation'|t }}</div>
          <div class="flex justify-between gap-16 mt-3">
            <div id="auto-evaluation" class="relative bg-white flex items-center mb-3 md:mb-5">
              <div class="h-5 w-5 z-0 mr-3 {{ classNames }}"></div>
              <div>{{ message }}</div>
            </div>
            <div class="justify-self-end">
              {{ form.project_track_evaluation_set_manual }}
            </div>
          </div>
        </div>
        <div>
          {{ form.project_track_evaluation_overridden }}
        </div>
        {{ form.project_track_status }}
      </div>
      <div>
        {{ form|without('advanced', 'project_track_evaluation', 'project_track_status', 'project_track_evaluation_overridden', 'project_track_evaluation_set_manual') }}
      </div>
    </div>
  </div>

  <div>
    <div class="grid grid-cols-1 gap-4">
      {% set defaultOpen = form['#project_tools']|length > 1 ? false : true %}
      {% for key, projectTrackTool in form['#project_tools'] %}
        <div class="tool-wrapper" x-data="{{ defaultOpen ? '{open: true}' : '{open: false}' }}">
          <div class="container bg-white dark:bg-secondary my-4 drop-shadow-md">
            {{ include('@itkdev_project_theme/components/project-track-tool-header.html.twig') }}
            <div>
              <div class="px-4 py-4" x-show="open" x-transition>
                {% if hasSubmissionReportType %}
                  {% set blockers = form['#tool_helper'].getToolBlockers(projectTrackTool) %}
                  {{ include('@itkdev_project_theme/components/webformSubmissionReportHeader.html.twig', {blockers: blockers, tool: projectTrackTool}) }}
                {% endif %}
                {{ drupal_entity(projectTrackTool.getToolEntityType, projectTrackTool.getToolId) }}
                <div class="flex justify-end pt-5 border-t">
                  {% if projectTrackTool.access('update') %}
                    <a href="{{ path('entity.webform_submission.edit_form', {
                      webform: 'complexity_uncertainty_default',
                      webform_submission: projectTrackTool.getToolId,
                      destination: form['#action'],
                    }) }}" class="inline-block btn-primary bg-black text-white hover:bg-stone-700">
                      <i class="fa-solid fa-pencil"></i><span class="ml-3">{{ 'Edit'|t }}</span>
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
